/*Wrappers*/


.wrapper-gallery{
  margin: 0 20vw;


}


#img{
  margin: 10px 50px;

}


#img img{
  padding: 15px;
  width: 10%;
  height:10%;   
}

#caption{
  font-size: large;
  font-weight: 100;
  font-style: italic;
  background-color: limegreen;
}