{% extends "layout.html" %}
{% block content %}
<br>
<form action="{{url_for('post.upload')}}" enctype="multipart/form-data" method ="POST">

      <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile02" name ="pic">
        <label class="input-group-text" for="inputGroupFile02">Select File</label>
      </div>
      <button type ="submit" class="btn btn-primary" 
      style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif,;background-color: #05a081;">Upload Image</button>
      <br>
      <br>


      <figure class="figure">
        <figcaption id="caption" class="rounded" style="font-size: large ;
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #05a081;
        color: aliceblue;">
              {{final}}
        </figcaption>
        <img src="{{ url_for('static', filename='file.jpg') }}" class="figure-img img-fluid rounded custom_img" alt="A generic square placeholder image with rounded corners in a figure.">
        </figure>
</form>

{% endblock content %}

<div >
  <img src="{{ url_for('static', filename='file.jpg') }}" class="img-fluid" alt="No Image">
 </div>


<input type="file" name ="pic">
    <br>
<input type="submit" value="Upload a file">